<!DOCTYPE html>
<html lang="en">
<head>
    <title>Войти в систему</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
	<%- include('partials/header.ejs') %>

	<section class="container page">
		<div class="auth-form">
            <h1> <%=lnJSON[ln]["Вход"]%> </h1>
			<form class="form" method="POST" action="/api/auth/signin">
                <fieldset class="fieldset">
                    <input class="input" type="text" name="email" placeholder="<%=lnJSON[ln]["Введите email"]%>">
                </fieldset>
                <fieldset class="fieldset">
                    <input class="input" type="password" name="password" placeholder="<%=lnJSON[ln]["Введите пароль"]%>">
                </fieldset>

                <fieldset class="fieldset">
                    <button class="button" type="submit"><%=lnJSON[ln]["Войти"]%></button>
                </fieldset>
			</form>

            <a href="/api/auth/google/signin">Google</a>
		</div>
	</section>
</body>
</html>