<header class="header container">
	<div class="header-logo">
	    <a href="/">Decode Blog</a>	
	</div>
	<form class="header-search" method="GET" action="/">
		<input type="hidden" name="page" value="0">
		<input type="text" class="input-search" placeholder="<%=lnJSON[ln]["Поиск по блогам"]%>" name="q">
		<button class="button button-search" type="submit">
			<img src="/images/search.svg" alt="">	
			 <%=lnJSON[ln]["Найти"]%>
		</button>
	</form>
	<div>

		<% 
			if(typeof currentUser === 'object' && currentUser) {
		%>
        <a href="/profile/<%=currentUser.nickname %>">
            <img class="avatar" src="/images/avatar.png" alt="Avatar">
        </a>
		<% 
		} else {
		%>
        <div class="button-group">
			<a href="<%=toEn %>">EN</a>
			<a href="<%=toKz %>">KZ</a>
			<a href="<%=toRu %>">RU</a>
            <a href="/register" class="button"><%=lnJSON[ln]["Регистрация"]%></a>
            <a href="/login" class="button"><%=lnJSON[ln]["Вход"]%></a>
        </div>

		<%
		}
		%>
	</div>
</header>